<div>
  <h2 id="page-heading" data-cy="ActifHeading">
    <span jhiTranslate="gestionActifsDgiApp.actif.home.title">Actifs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="gestionActifsDgiApp.actif.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-actif"
        [routerLink]="['/actif/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gestionActifsDgiApp.actif.home.createLabel">Créer un nouveau Actif</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (actifs().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionActifsDgiApp.actif.home.notFound">Aucun Actif trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="codeInventaire">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.codeInventaire">Code Inventaire</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="designation">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.designation">Designation</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="marque">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.marque">Marque</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="modele">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.modele">Modele</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="numeroSerie">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.numeroSerie">Numero Serie</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="codeBarre">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.codeBarre">Code Barre</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.type">Type</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="etat">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.etat">Etat</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="localisation">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.localisation">Localisation</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateAcquisition">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.dateAcquisition">Date Acquisition</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="valeurAcquisition">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.valeurAcquisition">Valeur Acquisition</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="categorie.id">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.actif.categorie">Categorie</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (actif of actifs(); track trackId(actif)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/actif', actif.id, 'view']">{{ actif.id }}</a>
              </td>
              <td>{{ actif.codeInventaire }}</td>
              <td>{{ actif.designation }}</td>
              <td>{{ actif.marque }}</td>
              <td>{{ actif.modele }}</td>
              <td>{{ actif.numeroSerie }}</td>
              <td>{{ actif.codeBarre }}</td>
              <td [jhiTranslate]="'gestionActifsDgiApp.TypeActif.' + (actif.type ?? 'null')">
                {{
                  {
                    null: '',
                    POSTE_TRAVAIL: 'POSTE_TRAVAIL',
                    IMPRIMANTE: 'IMPRIMANTE',
                    SERVEUR: 'SERVEUR',
                    RESEAU: 'RESEAU',
                    PERIPHERIQUE: 'PERIPHERIQUE',
                  }[actif.type ?? 'null']
                }}
              </td>
              <td [jhiTranslate]="'gestionActifsDgiApp.StatutActif.' + (actif.etat ?? 'null')">
                {{
                  { null: '', EN_SERVICE: 'EN_SERVICE', EN_MAINTENANCE: 'EN_MAINTENANCE', REFORME: 'REFORME', PERDU_VOLE: 'PERDU_VOLE' }[
                    actif.etat ?? 'null'
                  ]
                }}
              </td>
              <td>{{ actif.localisation }}</td>
              <td>{{ actif.dateAcquisition | formatMediumDate }}</td>
              <td>{{ actif.valeurAcquisition }}</td>
              <td>
                @if (actif.categorie) {
                  <div>
                    <a [routerLink]="['/categorie-materiel', actif.categorie.id, 'view']">{{ actif.categorie.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/actif', actif.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/actif', actif.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(actif)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (actifs().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
