<div>
  <h2 id="page-heading" data-cy="PanneHeading">
    <span jhiTranslate="gestionActifsDgiApp.panne.home.title">Pannes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="gestionActifsDgiApp.panne.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-panne"
        [routerLink]="['/panne/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gestionActifsDgiApp.panne.home.createLabel">Créer un nouveau Panne</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (pannes().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionActifsDgiApp.panne.home.notFound">Aucun Panne trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.panne.description">Description</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDeclaration">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.panne.dateDeclaration">Date Declaration</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statutPanne">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.panne.statutPanne">Statut Panne</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="actif.id">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.panne.actif">Actif</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (panne of pannes(); track trackId(panne)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/panne', panne.id, 'view']">{{ panne.id }}</a>
              </td>
              <td>{{ panne.description }}</td>
              <td>{{ panne.dateDeclaration | formatMediumDate }}</td>
              <td [jhiTranslate]="'gestionActifsDgiApp.StatutPanne.' + (panne.statutPanne ?? 'null')">
                {{ { null: '', SIGNALEE: 'SIGNALEE', EN_COURS: 'EN_COURS', RESOLUE: 'RESOLUE' }[panne.statutPanne ?? 'null'] }}
              </td>
              <td>
                @if (panne.actif) {
                  <div>
                    <a [routerLink]="['/actif', panne.actif.id, 'view']">{{ panne.actif.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/panne', panne.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/panne', panne.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(panne)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (pannes().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
