<div>
  <h2 id="page-heading" data-cy="InterventionHeading">
    <span jhiTranslate="gestionActifsDgiApp.intervention.home.title">Interventions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="gestionActifsDgiApp.intervention.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-intervention"
        [routerLink]="['/intervention/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gestionActifsDgiApp.intervention.home.createLabel">Créer un nouveau Intervention</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (interventions().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionActifsDgiApp.intervention.home.notFound">Aucun Intervention trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDeclaration">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.intervention.dateDeclaration">Date Declaration</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="typeIntervention">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.intervention.typeIntervention">Type Intervention</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statut">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.intervention.statut">Statut</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="description">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.intervention.description">Description</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="panne.id">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.intervention.panne">Panne</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (intervention of interventions(); track trackId(intervention)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/intervention', intervention.id, 'view']">{{ intervention.id }}</a>
              </td>
              <td>{{ intervention.dateDeclaration | formatMediumDate }}</td>
              <td [jhiTranslate]="'gestionActifsDgiApp.TypeIntervention.' + (intervention.typeIntervention ?? 'null')">
                {{ { null: '', PREVENTIVE: 'PREVENTIVE', CORRECTIVE: 'CORRECTIVE' }[intervention.typeIntervention ?? 'null'] }}
              </td>
              <td [jhiTranslate]="'gestionActifsDgiApp.StatutIntervention.' + (intervention.statut ?? 'null')">
                {{ { null: '', EN_COURS: 'EN_COURS', CLOTUREE: 'CLOTUREE', ANNULEE: 'ANNULEE' }[intervention.statut ?? 'null'] }}
              </td>
              <td>{{ intervention.description }}</td>
              <td>
                @if (intervention.panne) {
                  <div>
                    <a [routerLink]="['/panne', intervention.panne.id, 'view']">{{ intervention.panne.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/intervention', intervention.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/intervention', intervention.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(intervention)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (interventions().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
