<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transfert-heading"
        data-cy="TransfertCreateUpdateHeading"
        jhiTranslate="gestionActifsDgiApp.transfert.home.createOrEditLabel"
      >
        Créer ou éditer un Transfert
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dateDemandeRef = editForm.get('dateDemande')!;
        <div class="mb-3">
          <label class="form-label" for="field_dateDemande" jhiTranslate="gestionActifsDgiApp.transfert.dateDemande">Date Demande</label>
          <div class="input-group">
            <input
              id="field_dateDemande"
              data-cy="dateDemande"
              type="text"
              class="form-control"
              name="dateDemande"
              ngbDatepicker
              #dateDemandeDp="ngbDatepicker"
              formControlName="dateDemande"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDemandeDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
          @if (dateDemandeRef.invalid && (dateDemandeRef.dirty || dateDemandeRef.touched)) {
            <div>
              @if (dateDemandeRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let statutRef = editForm.get('statut')!;
        <div class="mb-3">
          <label class="form-label" for="field_statut" jhiTranslate="gestionActifsDgiApp.transfert.statut">Statut</label>
          <select class="form-control" name="statut" formControlName="statut" id="field_statut" data-cy="statut">
            <option [ngValue]="null">{{ 'gestionActifsDgiApp.StatutTransfert.null' | translate }}</option>
            @for (statutTransfert of statutTransfertValues; track $index) {
              <option [value]="statutTransfert">{{ 'gestionActifsDgiApp.StatutTransfert.' + statutTransfert | translate }}</option>
            }
          </select>
          @if (statutRef.invalid && (statutRef.dirty || statutRef.touched)) {
            <div>
              @if (statutRef.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_commentaireRejet" jhiTranslate="gestionActifsDgiApp.transfert.commentaireRejet"
            >Commentaire Rejet</label
          >
          <input
            type="text"
            class="form-control"
            name="commentaireRejet"
            id="field_commentaireRejet"
            data-cy="commentaireRejet"
            formControlName="commentaireRejet"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateTraitement" jhiTranslate="gestionActifsDgiApp.transfert.dateTraitement"
            >Date Traitement</label
          >
          <div class="input-group">
            <input
              id="field_dateTraitement"
              data-cy="dateTraitement"
              type="text"
              class="form-control"
              name="dateTraitement"
              ngbDatepicker
              #dateTraitementDp="ngbDatepicker"
              formControlName="dateTraitement"
            />
            <button type="button" class="btn btn-secondary" (click)="dateTraitementDp.toggle()"><fa-icon icon="calendar-alt" /></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_demandeur" jhiTranslate="gestionActifsDgiApp.transfert.demandeur">Demandeur</label>
          <select
            class="form-control"
            id="field_demandeur"
            data-cy="demandeur"
            name="demandeur"
            formControlName="demandeur"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_validateur" jhiTranslate="gestionActifsDgiApp.transfert.validateur">Validateur</label>
          <select
            class="form-control"
            id="field_validateur"
            data-cy="validateur"
            name="validateur"
            formControlName="validateur"
            [compareWith]="compareUser"
          >
            <option [ngValue]="null"></option>
            @for (userOption of usersSharedCollection(); track $index) {
              <option [ngValue]="userOption">{{ userOption.id }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_actif" jhiTranslate="gestionActifsDgiApp.transfert.actif">Actif</label>
          <select class="form-control" id="field_actif" data-cy="actif" name="actif" formControlName="actif" [compareWith]="compareActif">
            @if (editForm.get(['actif'])!.value === null) {
              <option [ngValue]="null" selected></option>
            }
            @for (actifOption of actifsSharedCollection(); track $index) {
              <option [ngValue]="actifOption">{{ actifOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['actif'])!.invalid && (editForm.get(['actif'])!.dirty || editForm.get(['actif'])!.touched)) {
          <div>
            @if (editForm.get(['actif'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
