<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (affectation(); as affectationRef) {
      <div>
        <h2 data-cy="affectationDetailsHeading"><span jhiTranslate="gestionActifsDgiApp.affectation.detail.title">Affectation</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ affectationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="gestionActifsDgiApp.affectation.dateAffectation">Date Affectation</span></dt>
          <dd>
            <span>{{ affectationRef.dateAffectation | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gestionActifsDgiApp.affectation.motif">Motif</span></dt>
          <dd>
            <span>{{ affectationRef.motif }}</span>
          </dd>
          <dt><span jhiTranslate="gestionActifsDgiApp.affectation.dateRestitution">Date Restitution</span></dt>
          <dd>
            <span>{{ affectationRef.dateRestitution | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="gestionActifsDgiApp.affectation.agent">Agent</span></dt>
          <dd>
            @if (affectation()!.agent) {
              <div>
                <a [routerLink]="['/agent', affectation()!.agent?.id, 'view']">{{ affectationRef.agent?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/affectation', affectationRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
