<div>
  <h2 id="page-heading" data-cy="ContratHeading">
    <span jhiTranslate="gestionActifsDgiApp.contrat.home.title">Contrats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="gestionActifsDgiApp.contrat.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-contrat"
        [routerLink]="['/contrat/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gestionActifsDgiApp.contrat.home.createLabel">Créer un nouveau Contrat</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  @if (contrats().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionActifsDgiApp.contrat.home.notFound">Aucun Contrat trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="typeContrat">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.contrat.typeContrat">Type Contrat</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="reference">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.contrat.reference">Reference</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateDebut">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.contrat.dateDebut">Date Debut</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFin">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.contrat.dateFin">Date Fin</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="actif.id">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.contrat.actif">Actif</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="fournisseur.id">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.contrat.fournisseur">Fournisseur</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (contrat of contrats(); track trackId(contrat)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/contrat', contrat.id, 'view']">{{ contrat.id }}</a>
              </td>
              <td [jhiTranslate]="'gestionActifsDgiApp.TypeContrat.' + (contrat.typeContrat ?? 'null')">
                {{ { null: '', GARANTIE: 'GARANTIE', MAINTENANCE: 'MAINTENANCE' }[contrat.typeContrat ?? 'null'] }}
              </td>
              <td>{{ contrat.reference }}</td>
              <td>{{ contrat.dateDebut | formatMediumDate }}</td>
              <td>{{ contrat.dateFin | formatMediumDate }}</td>
              <td>
                @if (contrat.actif) {
                  <div>
                    <a [routerLink]="['/actif', contrat.actif.id, 'view']">{{ contrat.actif.id }}</a>
                  </div>
                }
              </td>
              <td>
                @if (contrat.fournisseur) {
                  <div>
                    <a [routerLink]="['/fournisseur', contrat.fournisseur.id, 'view']">{{ contrat.fournisseur.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/contrat', contrat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/contrat', contrat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(contrat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (contrats().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
