<div>
  <h2 id="page-heading" data-cy="MaintenanceHeading">
    <span jhiTranslate="gestionActifsDgiApp.maintenance.home.title">Maintenances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="gestionActifsDgiApp.maintenance.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-maintenance"
        [routerLink]="['/maintenance/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="gestionActifsDgiApp.maintenance.home.createLabel">Créer un nouveau Maintenance</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (maintenances().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="gestionActifsDgiApp.maintenance.home.notFound">Aucun Maintenance trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="typeMaintenance">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.maintenance.typeMaintenance">Type Maintenance</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="datePanne">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.maintenance.datePanne">Date Panne</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="statut">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.maintenance.statut">Statut</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="compteRendu">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.maintenance.compteRendu">Compte Rendu</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateCloture">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.maintenance.dateCloture">Date Cloture</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="technicien.id">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.maintenance.technicien">Technicien</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="actif.id">
              <div class="d-flex">
                <span jhiTranslate="gestionActifsDgiApp.maintenance.actif">Actif</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (maintenance of maintenances(); track trackId(maintenance)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/maintenance', maintenance.id, 'view']">{{ maintenance.id }}</a>
              </td>
              <td [jhiTranslate]="'gestionActifsDgiApp.TypeMaintenance.' + (maintenance.typeMaintenance ?? 'null')">
                {{ { null: '', PREVENTIVE: 'PREVENTIVE', CORRECTIVE: 'CORRECTIVE' }[maintenance.typeMaintenance ?? 'null'] }}
              </td>
              <td>{{ maintenance.datePanne | formatMediumDate }}</td>
              <td [jhiTranslate]="'gestionActifsDgiApp.StatutMaintenance.' + (maintenance.statut ?? 'null')">
                {{ { null: '', OUVERTE: 'OUVERTE', EN_COURS: 'EN_COURS', CLOTUREE: 'CLOTUREE' }[maintenance.statut ?? 'null'] }}
              </td>
              <td>{{ maintenance.compteRendu }}</td>
              <td>{{ maintenance.dateCloture | formatMediumDate }}</td>
              <td>
                {{ maintenance.technicien?.id }}
              </td>
              <td>
                @if (maintenance.actif) {
                  <div>
                    <a [routerLink]="['/actif', maintenance.actif.id, 'view']">{{ maintenance.actif.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/maintenance', maintenance.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/maintenance', maintenance.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(maintenance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (maintenances().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
